@import 'bootstrap/bootstrap.less';

#signup{

    @font: 'Source Sans Pro';
    @cream: #F8F3E8;
    @brown: #4E4947;
    @light-blue: #9FC5FF;
    @dark-blue: #4B5485;
    @gray: #242726;
    @light-gray: #E8EEF0;
    @alert: #f2dede;
    @alert-dark: #bd362f;
    
    background-size:100%;
    background-image: url(../../static_media/img/rolodex-signup2.png);
    padding: 50px 0 50px 50px;
    
    h1, h2, h3, h4, h5, h6, p, body {
        font-family: @font;
        color: @gray;
    }
    
    h1, h2, h4 {
        font-weight: 800;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        height: 2em;
    }
    
    .signuppng {
        height: 8em;
        overflow: hidden;
    }
    
    button.btn {
        background-color: @dark-blue;
        color: @cream;
        text-decoration: none;
    }
    
    ul.errorlist{
        background-color: @alert;
        border: 1px @alert-dark solid;
        list-style-type: none;
        margin: 10px 0 10px 0px;
        padding: 5px 10px 5px 10px;
    }
    
    .footnote {
        margin: 0 0 100px 0;
    }
    
    .header, .id_remember {
        font-family: @font;
    }
    
    .header {
        margin: 0 0 15px 0;
    }

}

    @media (max-width: 1024px) {
    #signup {
        background-image: none;
        }
    }
