body {
  background-color: #d5d6d8;
}
#user {
  /* css for list page navigation */
  /*- FILTER OPTIONS -*/
  /*- -*/
  /*- OUR DATA HOLDER -*/
  /*- -*/
}
#user a {
  text-decoration: none;
  color: #4e4946;
  font-family: inherit;
}
#user a :hover {
  text-decoration: underline;
}
#user h1,
#user h2,
#user h3,
#user h4,
#user h5,
#user h6,
#user p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #484847;
  font-weight: 600;
}
#user .skillset-icon {
  height: 1em;
  margin: 0 10px 0 0;
}
#user #filters {
  background-color: #FFF;
  margin: -40px 0 0 0;
  padding: 5px 0 10px 5px;
}
#user .filters {
  display: block;
  float: left;
  background-color: #FFF;
}
#user .types {
  color: #FFF;
  display: block;
  float: left;
  padding: 5px 10px 5px 5px;
  margin: 5px 5px 5px 5px;
}
#user .types:hover {
  background-color: #e8eef0;
  border-radius: 2px;
}
#user .typeicon {
  height: 25px;
  margin: 0 5px 0 10px;
}
#user a.listlink {
  border-radius: 3px;
  display: block;
  text-align: center;
  margin: 30px 0 0 0;
}
#user a.listlink :hover {
  background-color: #e8eef0;
  text-decoration: none;
}
#user a.listlink.active {
  background-color: #9fc5ff;
}
#user a.listlink.active :hover {
  text-decoration: none;
}
#user p.nounderline:hover {
  text-decoration: none;
}
#user .left {
  float: left;
}
#user h1.notbold {
  font-weight: 600;
  color: #4e4946;
}
#user .userlistitem {
  list-style-type: none;
  height: 2em;
}
#user .itemheight {
  line-height: 30px;
}
#user .copy {
  font-weight: 400;
}
#user .profile-box {
  border-right: 1px solid #4e4946;
  padding: 10px;
  padding-bottom: 50px;
  line-height: 1em;
  height: 100%;
  margin: 0;
}
#user .profile-box h3,
#user .profile-box p {
  color: #4e4946;
}
#user .img-box {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border: 1px white solid;
}
#user .img-info-box {
  text-align: center;
}
@media (max-width: 768px) {
  #user .profile-box {
    border-right: none;
  }
}
#user ul#filterOptions {
  width: 802px;
  height: 52px;
  margin: 30px 0;
  overflow: hidden;
}
#user ul#filterOptions li {
  height: 52px;
  margin-right: 2px;
  display: inline-block;
  float: left;
}
#user ul#filterOptions li a {
  height: 50px;
  padding: 0 20px;
  border: 1px solid #999;
  background: #cfcfcf;
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
  display: block;
}
#user ul#filterOptions li a:hover {
  background: #c9c9c9;
}
#user ul#filterOptions li.active a {
  background: #999;
}
#user ul.ourHolder {
  width: 800px;
  height: 850px;
  overflow: hidden;
}
#user ul.ourHolder li.item {
  width: 200px;
  height: 200px;
  float: left;
  text-align: center;
  overflow: hidden;
}
#user ul.ourHolder li.item h3 {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
}
