{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="city">
    <div class="container">
        <div class="row">
            <h2>About</h2>
            <hr/>              

        </div>
        
        
        <div class="row">
            <div class="col-md-8 working-here">
                <h3><span class="firstcharacter">A</span> bit here about who we are and what we do.</h3>
            </div>
                
            <div class="col-md-4 working-here">
                TWITTER here.
            </div>
            
        </div>
    </div> 
</div>
    

{% endblock %}
