{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="city">
    <div class="container">
        <div class="row">
            <h2>About</h2>
            <hr/>
        </div>
        
        <div class="row">
            <div class="col-md-8 margin-bottom">
                <p>This project was developed for JOMC 583, Multimedia Programming and Production, taught by instructor <a href="http://steventking.com/" target="_blank">Steven King</a>. JOMC 583 is an advanced course in multimedia programming languages that includes designing and building dynamic projects. This project was created not only to illustrate the breadth of school's reach, but also to encourage peer-to-peer networking and engage with other students in their job search. For more information about the school, please visit their <a href="http://jomc.unc.edu/" target="_blank">website</a>.</p>
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h3>Other Resources:</h3></div>
                    <ul class="list-group">
                        <li class="list-group-item"><h5><a href="http://jomc.unc.edu/careerservices" target="_blank">UNC JOMC Career Services</a></h5></li>
                        <li class="list-group-item"><h5><a href="http://careers.unc.edu/" target="_blank">UNC Career Services</a></h5></li>
                        <li class="list-group-item"><h5><a href="http://careers.unc.edu/resources/careerolina.html" target="_blank">Careerolina</a></h5></li>
                        <li class="list-group-item"><h5><a href="http://careers.unc.edu/resources/schedule-appointment.html" target="_blank">Schedule an appointment with Career Services</a></h5></li>
                        <li class="list-group-item"><h5><a href="http://jomc.unc.edu/directory/staff/jay-eubank" target="_blank">Jay Eubank, Director of JOMC Career Services</a></h5></li>
                      </ul>
            </div>
            </div>
                
            <div class="col-md-4 margin-bottom">
                <a class="twitter-timeline" href="https://twitter.com/UNCJschool" data-tweet-limit="3" data-widget-id="458310965558145024">Tweets by @UNCJschool</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            
        </div>
    </div> 
</div>
    

{% endblock %}
