{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="city">
    <div class="container">
        <div class="row">
            <h2>About</h2>
            <hr/>
        </div>
        
        <div class="row">
            <div class="col-md-8">
                <p>This project was developed for JOMC 583, Multimedia Programming and Production, taught by instructor <a href="http://steventking.com/" target="_blank">Steven King</a>. JOMC 583 is an advanced course in multimedia programming languages that includes designing and building dynamic projects. </p>
            </div>
                
            <div class="col-md-4">
                <a class="twitter-timeline" href="https://twitter.com/UNCJschool" data-widget-id="458310965558145024">Tweets by @UNCJschool</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            
        </div>
    </div> 
</div>
    

{% endblock %}
