{% extends "base.html" %}

{% block content %}
<div id="city">

	<div class="container" id="user">

	<div class="row">
		<div class="col-md-6">
			<h1 class="notbold"><i class="fa fa-list"></i> SEARCH THE DATABASE</h2>
		</div>
		<div class="col-md-2">
			<a href="/user" class="listlink"><h3 class="notbold">USERS</h3></a>
		</div>
		<div class="col-md-2">
			<a href="#" class="listlink active"><h3>LOCATIONS</h3></a>
		</div>
		<div class="col-md-2">
			<a href="/organization" class="listlink"><h3 class="notbold">COMPANIES</h3></a>
		</div>
	</div>
	<hr />

	{% for city in cities %}
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 list-box"><a href="{{ city.id }}">
			<img src="http://api.tiles.mapbox.com/v3/afortune906.hnidfk42/{{ city.longitude }},{{ city.lat }},10/220x220.jpg" class="opacity"/>
			<div class="text"><h3>{{ city.name }}</h3>
			<h5>{{city.state}}</h5></div>
		</div></a>
	{% endfor %}
	</div>
</div>

{% endblock %}
