{% extends "base.html" %}
{% load humanize %}
{%load url from future %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</div><!--container-->
<div id="home">
	<div id = "filters">
		<div class="container">
			<div class="row">
				    <div class="col-md-7">
				      <ul>
						<li class="types">I am looking for an internships in:&nbsp</li>
						<li class="types active"><a href="#" class="active"><img src=""> VIEW ALL</a></li>
						<li class="types"><a href="#"><img class="typeicon" src="../static_media/img/coder-blue.png"></a></li>
						<li class="types"><a href="#"><img class="typeicon" src="../static_media/img/design-blue.png"></a></li>
						<li class="types"><a href="#"><img class="typeicon" src="../static_media/img/photo-blue.png"></a></li>
						<li class="types"><a href="#"><img class="typeicon" src="../static_media/img/reporting-blue.png"></a></li>
						<li class="types"><a href="#"><img class="typeicon" src="">other</a></li>
				      </ul>
				    </div><!--col-->
			    
				    <div class="col-md-3 types cityfilt">NATIONAL <b class="caret"></b></div>

				    <div class="col-md-2 maptoggle"><a href="/" class="maptoggle active">MAP </a> | <a href="/user" class="maptoggle">LIST</a></div>

				</div>
			</div><!--container-->
		</div><!--row-->
	<div id="map"></div>
</div>

<script type="text/javascript">


var geoJson = []

	{% for user in users %}
	var object = {
		type: 'Feature',
		geometry: {
			type:'Point',
			coordinates: [{{user.current_company.longitude}}, {{user.current_company.lat}}]
		},
		properties: {
			title: "{{ user.user }}",
			url: "/user/{{user.pk}}",
			'marker-size':'small',
			'marker-color':'#f0a'
	}
};
	geoJson.push(object);
{% endfor %}

var map = L.mapbox.map('map', 'examples.map-9ijuk24y');

var myLayer = L.mapbox.featureLayer(geoJson).addTo(map);


myLayer.on('layeradd', function(e) {
    var marker = e.layer,
        feature = marker.feature;

    // Create custom popup content
    var popupContent =  '<a target="_blank" class="popup" href="' + feature.properties.url + '">' +
                        '   <h2>' + feature.properties.title + '</h2>' +
                        '</a>';

    // http://leafletjs.com/reference.html#popup
    marker.bindPopup(popupContent,{
        closeButton: false,
        minWidth: 320
    });
});

myLayer.on('ready', function() {
    // featureLayer.getBounds() returns the corners of the furthest-out markers,
    // and map.fitBounds() makes sure that the map contains these.
    map.fitBounds(featureLayer.getBounds());
});

// Add features to the map
// myLayer.setGeoJSON(geoJson);
map.scrollWheelZoom.disable();

map.setView([45.908, -78.525], 4);

</script>
	
{% endblock %}

