{% extends "base.html" %}
{% load humanize %}
{%load url from future %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</div><!--container-->
<div id="home">
	<div id = "filters">
		<div class="container">
			<div class="row">
				    <div class="col-md-7">
				      <ul>
						<li class="types">I am looking for an internships in:&nbsp</li>
						<li class="types active"><a href="#" class="active"><img src=""> VIEW ALL</a></li>
						<li class="types"><a href="#"><img class="typeicon" src="../static_media/img/coder-blue.png"></a></li>
						<li class="types"><a href="#"><img class="typeicon" src="../static_media/img/design-blue.png"></a></li>
						<li class="types"><a href="#"><img class="typeicon" src="../static_media/img/photo-blue.png"></a></li>
						<li class="types"><a href="#"><img class="typeicon" src="../static_media/img/reporting-blue.png"></a></li>
						<li class="types"><a href="#"><img class="typeicon" src="">other</a></li>
				      </ul>
				    </div><!--col-->
			    
				    <div class="col-md-3 types cityfilt">NATIONAL <b class="caret"></b></div>
				    
				    <div class="col-md-2 maptoggle"><a href="/" class="maptoggle active">MAP </a> | <a href="/user" class="maptoggle">LIST</a></div>

				</div>
			</div><!--container-->
		</div><!--row-->
	<div id="map"></div>
</div>
{% endblock %}

{% block extra-js %}
<script>

$.getJSON( '{% static "js/organization.json" %}', function( data ) {
  var coordinates = [];
  console.log(items)
  $.each( data, function( longitude, lat ) {
    coordinates.push( longitude, lat );
  });
 
  $( "coordinates:" {
    json: items.join( "" )
  }).appendTo( "body" );
});

</script>
{% endblock %}

