{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="city">
<div class="container">
    <div class="row">
        <h2>{{ organization.name }}</h2>
        <hr /> 
        <div class="col-md-8">
            <h3>Description:</h3>
            <p>{{ organization.bio }}</p>
            <a href="#" class="btn btn-default btn-sm" style="float:right" role="button"><h5>Post a job</h5></a>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs organization-map">
            <img src="http://api.tiles.mapbox.com/v3/afortune906.hnidfk42/{{ organization.longitude }},{{ organization.lat }},11/300x300.jpg"/>
            <h6><i class="fa fa-map-marker"></i> {{ organization.address }}</h6>
            <a href="{% url 'interactive_app_organization_list' %}">View all organizations &raquo;</a>
        </div>
    </div>
    <div class="row tab-content">
        <div class="col-md-8 organization-contact">
            <div class="col-md-3">
                <h4>MORE INFORMATION:</h4>
            </div>
            <div class="col-md-3">
                <a href="{{ organization.url }}" target="_blank"><img src="../static_media/img/website.png" alt="website" width="42" height="42"></a>
                <p>Website</p>
            </div>
            <div class="col-md-3">
                <a href="mailto:{{ organization.contact }}" target="_top"><img src="../static_media/img/email.png" alt="email" width="42" height="42"></a>
                <p>E-mail</p>
            </div>
            <div class="col-md-3">
                <a href="{{ organization.opening }}" target="_blank"><img src="../static_media/img/openings.png" alt="openings" width="42" height="42"></a>
                <p>Job Openings</p>
            </div>
        </div>
        <div class="col-md-4">
            <a href="{{ organization.twitter}}" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="large" data-width="400px">Follow @twitter</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 featured">
            <h4>FEATURED</h4>
                <div class="col-md-4">
                {% for person in current_people %}
                    <a href="{% url 'interactive_app_user' person.id%}"><img src="{% static 'img/' %}{{ person.img_url }}" class="img-circle">
                    <h4>{{ person.name }}</h4></a>
                    <p>{{ person.current_position }}</p>
                    <a class="btn btn-default" href="{% url 'interactive_app_user' person.id%}" role="button">View Profile</a>
                </div>
                {% endfor %}
        </div>
    </div>
    
    <div id="city">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h3>Tar Heels working here</h3>
                
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#current" data-toggle="tab">Current</a></li>
                    <li><a href="#previous" data-toggle="tab">Previous</a></li>
                </ul>
                
                <div class="tab-content">
                    <div class="tab-pane active" id="current">
                        {% for person in current_people %}
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                    <a href="{% url 'interactive_app_user' person.id%}"><img src="{% static 'img/' %}{{ person.img_url }}" class="img-thumbnail"></a>   
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <h4>{{ person.name }}</h4>
                                <p><strong>{{ person.current_position }}</strong></p>
                                <p><strong>Major:</strong> {{ person.major }}- {{ person.skillset }}</p>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 ">
                                <a href="{% url 'interactive_app_user' person.id%}">View Profile &raquo;</a>
                            </div>
                        
                        </div>
                        <hr />
                        {% endfor %}
                    </div>
                    
                    <div class="tab-pane" id="previous">
                        <p>No information for previous people yet.</p>
                    </div>
                    
                </div>
        </div>
        </div>
    </div>
    </div>
</div>   
</div>


{% endblock %}


<div class="container">
    {% block footer %}
    {% endblock %}
</div>
