{% extends "base.html" %}

{% block content %}
<div id="city">
    <div class="container">
	<div id="user" class="row">
		<div class="col-md-6">
			<h1 class="notbold"><i class="fa fa-list"></i> SEARCH THE DATABASE</h2>
		</div>
		<div class="col-md-2">
			<a href="/user" class="listlink"><h3>USERS</h3></a>
		</div>
		<div class="col-md-2">
			<a href="/city" class="listlink"><h3>LOCATIONS</h3></a>
		</div>
		<div class="col-md-2">
			<a href="#" class="listlink active"><h3>COMPANIES</h3></a>
		</div>
	</div>
	
	
	<div id="user">
	    <ul>
	    {% for organization in organizations %}
            <a href="{{ organization.pk }}">
	    <li class="item userlistitem">
			    <div class="row">
				    <div class="col-sm-6 col-xs-12">
					    <a href="{{ orgnization.pk }}"><h4>{{ organization.name|upper }}</h4></a>
				    </div>
				    
				    <div class="col-sm-3 hidden-phone">
					    <p class="itemheight">{{ organization.city }}</p>
				    </div>
				    
				    <div class="col-sm-3 hidden-phone">
					    <p class="itemheight">{{ organization.twitter }}</p>
				    </div>
				    
			    </div>
			    </li>
	    </a>
	    {%endfor%}
	    </ul>
	</div>
	
	
	
	
	
	<hr />
           
    </div>

</div>

{% endblock %}

