{% extends "base.html" %}
{% block content %}

<div id="settings">
    <section id="section-profile-edit">
        <form action="" method="post" class="form-horizontal" role="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-4">
                            <h1>Edit Profile</h1>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-5">
                            {{form.as_p}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="text-align: left">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

{% endblock %}
