{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="user">
	<h1><i class="fa fa-list"></i> SEARCH THE DATABASE</h2>
	<hr />
	
	<div class="row">
		<div class="col-md-12">
			<ul id="source">
				<li data-id="ALL" class="types active"><a href="#" class="active"><img src=""> VIEW ALL</a></li>
				<li data-id="ALL" class="types"><a href="#"><img class="typeicon" src="../static_media/img/coder-blue.png">CODING</a></li>
				<li data-id="ALL" class="types"><a href="#"><img class="typeicon" src="../static_media/img/design-blue.png">DESIGN</a></li>
				<li data-id="ALL" class="types"><a href="#"><img class="typeicon" src="../static_media/img/photo-blue.png">PHOTO/VIDEO</a></li>
				<li data-id="ALL" class="types"><a href="#"><img class="typeicon" src="../static_media/img/reporting-blue.png">REPORTING</a></li>
				<li data-id="ALL" class="types"><a href="#"><img class="typeicon" src="">OTHER</a></li>
		       </ul>
		</div>
	</div>
	<hr />
	
	<ul>
	{% for user in users %}
	<li id="{{ user.skillset|lower }}" class="userlistitem">
		<a href="{{ user.pk }}">
			<div class="row">
				<div class="col-md-1">
					<img src="{% static 'img/' %}{{ user.skillset|lower }}-black.png" class="typeicon">
				</div>
				
				<div class="col-md-5">
					<h4>{{ user.user|upper }}</h4>
				</div>
				
				<div class="col-md-3">
					<h4>{{ user.current_city }}</h4>
				</div>
				
				<div class="col-md-3">
					<h4>{{ user.current_company }}</h4>
				</div>
			</div>
		</a>
	</li>
	<hr />
	{%endfor%}
	</ul>

</div>
{% endblock %}