<!--project template:  /templates/base.html -->

<!DOCTYPE html>
{% load i18n %}
{% load account %}
{% load url from future %}
<html lang=en>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
	<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
<!--     <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700' rel='stylesheet' type='text/css'>
    <link href="/static_media/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static_media/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static_media/css/style.css" rel="stylesheet">
    <link href="/static_media/css/user.css" rel="stylesheet">
    <link href="/static_media/css/city.css" rel ="stylesheet">
    <link href="/static_media/css/base.css" rel ="stylesheet">
    <link href="/static_media/css/home.css" rel ="stylesheet">

    <title>{% block title %}Internship-Job Tracker{% endblock %}</title>
</head>
	<!-- map styles -->
	<style>
  		body { margin:0; padding:0; }
  		#map { top:0; bottom:0; width:100%; height: 300px; }
	</style>

<body class="{% if request.user.is_authenticated %}logged-in{% else %}logged-out{% endif %}">
{% block header %}
<div id="base">
<header>
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse">

		      <a href="{% url 'interactive_app_home'%}"><span class="navbar-brand nav-logo">Ramses Rolodex</span></a>

		      <ul class="nav navbar-nav">
		      </ul>

		     <!-- Here goes the user preferences  -->
		      <ul class="nav navbar-nav">
			<li class="preferences"><a href="/{{ user.typepref }}"><img class="typeicon-nav" src="../../static_media/img/coder-blue.png">DESIGNER{{ user.typepref }}</a></li>
			<li class="preferences"><a href="/city/1">NORFOLK{{ user.citypref }}</a></li>
			<li class="preferences"><a href="/organization/1">THE VIRGINIAN PILOT{{ user.organizationpref }}</a></li>
		      </ul>

		<!-- If not logged in, they'll be prompted to do so.

		     <ul class="nav navbar-nav">
			<li><span class="loggedout-prompt"><a href="#">Log In </a>to store your preferences, or explore internships by <a href="#">type</a>, <a href="#">location</a>, or <a href="#">organization</a>.</span></li>
		      </ul>-->


		      <ul class="nav navbar-nav navbar-right">

      <!--
      {% if request.user.is_authenticated %}
    <a href="/accounts/logout/" class="pull-right">Logout</a>
    <img src="{{ request.user.profile.profile_image_url }}"/>
    {% if request.user.first_name or request.user.last_name %}
        {{ request.user.first_name }} {{ request.user.last_name }}
    {% else %}
        {{ request.user.username }}
    {% endif %}
    {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}

      {% else %}
    <a href="/accounts/login/" class="pull-right">Login</a>

      {% endif %}-->

      {% if request.user.is_authenticated %}

      <li><a href="{% url 'interactive_app_user' request.user.id %}"><span class=""><img style="height: 20px;"src="{{ request.user.profile.profile_image_url }}"/>{{request.user.username}}</span></a></li>
      <li><a href="/accounts/logout/">Logout</a></li>
    </form>
    {%else%}
    <li><a href="/accounts/signup">Sign Up <img src=""></a></li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In<b class="caret"></b></a>
      <ul class="dropdown-menu loginmodal">
      <div class="form-group">
        <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
      {{ form.non_field_errors }}
      <input id="id_login" class="login-input" maxlength="30" name="login" placeholder="Username" type="text" />{{ form.login.errors }}<br>
      <input id="id_password"  class="login-input" name="password" placeholder="Password" type="password" />{{ form.password.errors }}<br>
      <div class="remember-forgot-section">
          <input id="id_remember" name="remember" type="checkbox" />
          <label for="id_remember">Remember Me</label>
          <a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="btn" type="submit">{% trans "Sign In" %}</button>

    <a href="/accounts/facebook/login/"><div class="fb"></div></a>
    {% include "socialaccount/snippets/login_extra.html" %}
    {%endif%}
  </div>
			  </ul>
			</li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
</header>
</div>
{% endblock %}

<div class="container">
{% block content %}
{% endblock %}
</div>

{% block footer %}
<div id="base">
	<div class="container footer ">
		<div class="container">


		<div class="col-sm-3">
			<h4>Ramses Rolodex</h4>
		</div>


		<div class="col-sm-3">
			<a><p>About</p></a>
		</div>

		<div class="col-sm-3">
		</div>

		<div class="col-sm-3">
			<a href="http://www.jomc.unc.edu"><img src="../../static_media/img/jschool-logo.png" class="footerlogo pull-right">
		</div>

	</div>
	</div>
</div>
{% endblock %}


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static_media/js/bootstrap.min.js"></script>
    <script src="/static_media/js/readmore.min.js"></script>
    <script src="/static_media/js/site.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js"></script>

</body>
</html>
